@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --secondary-color: #C70A0E;
  --font-sans: var(--font-montserrat);
  --font-dm-sans: var(--font-dm-sans);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
}

body {
  background: var(--background);
  
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

.bg-secondary{
background-color: var(--secondary-color);
}
.text-secondary{
  color: var(--secondary-color);
  }
.bg-white-100{
  background-color: rgba(255, 255, 255, 0.2);
}

@property --gradient-percent {
  syntax: '<percentage>';
  initial-value: 25%;
  inherits: false;
}

@property --gradient-gray {
  syntax: '<color>';
  initial-value: rgb(40, 40, 40);
  inherits: false;
}

.bg-gradient-border {
  --gradient-percent: 25%;
  --gradient-gray: rgb(30, 30, 30);
  background: linear-gradient(

  35deg,
    rgba(199, 10, 14, 1) 0%,
    var(--gradient-gray) var(--gradient-percent)
  );
  transition: --gradient-percent 300ms linear, all 300ms linear, ;
}

.bg-gradient-border:hover {
  --gradient-percent: 99%;
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(199, 10, 14, 0.3);
}

.red-shadow{
  box-shadow: 0 0 15px rgba(199, 10, 14, 1) ;
}
.bg-glass-gradient{
  background: linear-gradient(
    135deg,
    rgba(199, 10, 14, 0.5) 0%,
    /* rgba(255, 255, 255, 0.5) 0%, */
    rgba(0, 0, 0, 0.1) 30%
  );
  backdrop-filter: blur(1px);
}
.bg-main{
  background :url('/bg-austelix.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.sliding-animation > div{
  transition: all 300ms linear;
}
.sliding-animation{
  transition: all 300ms linear;
}

.sliding-animation:hover  div{
  color: var(--secondary-color) ;
  background: white;
  

  transform: translateX(0.5rem);
  /* animation: sliding 3s linear infinite; */
}
.sliding-animation:hover {
  box-shadow: 0 0 25px rgba(199, 10, 14, 1);
}
.decoration-secondary{
  text-decoration-color: var(--secondary-color);
}
.number-bg {
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.1) 0%,
    rgba(255,255,255,0.02) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-secondary{
  border-color: var(--secondary-color);
}
.backdrop-shadow-white{
  filter: drop-shadow(0 0 20px rgba(255,255,255,0.2));
}
/* @keyframes sliding{
  0%{
    transform: translateX(-1rem);
  }
  50%{
    transform: translateX(0rem);
    
  }
  100%{
    transform: translateX(-1rem);
  }
} */
@media only screen and (max-width: 768px) {
  .bg-main {
    background-image: url('/bg-mobile.png');
  }
}